body {
	background-color: #ffffff;
	color: #202020;
	font-family: "arial", times new roman;
	margin-left: 50px;
	margin-top: 58px;
}

p {
	margin-right: 20px;
	max-width: 750px;
}

a {
	font-family: "Calibri", arial, times new roman;
	text-decoration: none;
}

h1 {
	font-family: "ar bonnie", arial, times new roman;
	font-size: 54px;
}

h2 {
	font-size: 16px;
}

h6 {
	color: #808080;
	font-family: "times new roman", arial;
	font-size: 11px;
	font-style: italic;
}