body {
	background-color: #ffffff;
	color: #202020;
	font-family: "arial", times new roman;
	margin-left: 50px;
	margin-top: 58px;
	max-width: 640px;
}

p {
	font-family: "Calibri", arial, times new roman;
	width:expression( 
    document.body.clientWidth > 640 ?
        "640":
        "auto" );
}

a {
	font-family: "Calibri", arial, times new roman;
}

h1 {
	font-family: "Calibri", arial, times new roman;
	font-size: 32px;
}

h2 {
	font-size: 16px;
}

h6 {
	color: #808080;
	font-family: "times new roman", arial;
	font-size: 11px;
	font-style: italic;
}

a {
	font-family: "Calibri", arial, times new roman;
	color: #A84300;
}

a:hover {
	text-shadow: 2px 0px 3px #ff9933;
}